tasks.txt
.bash_history
.cisco/
.lesshst
.viminfo
.viminfo.tmp
.vscode/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
NTUSER.DAT
NTUSER.DAT{3c9c903e-fa39-11ed-b9c1-20c19b9818e9}.TM.blf
NTUSER.DAT{3c9c903e-fa39-11ed-b9c1-20c19b9818e9}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{3c9c903e-fa39-11ed-b9c1-20c19b9818e9}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
git-course-day-3/
git-course-day-4/
git-course/
git-newcourse/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
.gitinore